@model IEnumerable<Saffrat.Models.IngredientItem>

@using Saffrat.Resources
@inherits LocService<TModel>

@{
    ViewData["Title"] = @Localize("Stock Alert Report");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-header-title">
                    <h4>
                        @Localize("Stock Alert Report")
                    </h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home me-1"></i>@Localize("Home")</a></li>
                    <li class="breadcrumb-item">@Localize("Stock Alert Report")</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="exportTable">
                        <thead>
                            <tr>
                                <th>@Localize("Ingredient Item")</th>
                                <th>@Localize("Stock")</th>
                                <th>@Localize("Alert Quantity")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.ItemName
                                    </td>
                                    <td>
                                        @item.Quantity @item.Unit
                                    </td>
                                    <td>
                                        @item.AlertQuantity
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@{
    string f = Localize("Stock Alert Report")+" "+DateTime.Now.ToShortDateString();
}
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <script>
        var fileName = '@f';

        $("#report-menu").addClass("active");
        $("#stockAlertReport-menu").addClass("active");

        $(document).ready(function () {
            $('#exportTable').DataTable({
                dom: 'B',
                'language': {
                    "processing": '@Localize("Processing...")',
                    "loadingRecords": "@Localize("Loading...")",
                    'lengthMenu': '@Localize("Show") _MENU_ @Localize("Entries")',
                    "zeroRecords": "@Localize("No Result Found")",
                    "info": '<small>@Localize("Showing") _START_ - _END_ (_TOTAL_)</small>',
                    "infoEmpty": '',
                    "infoFiltered": '',
                    "search": '@Localize("Search")',
                    'paginate': {
                        'previous': '<i class="fa fa-chevron-left"></i>',
                        'next': '<i class="fa fa-chevron-right"></i>'
                    }
                },
                "ordering": false,
                paging: false,
                buttons: [
                    {
                        extend: 'excel',
                        title: fileName,
                        text: '<i title="excel" class="fa fa-file-excel"></i>',
                        className: 'btn',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                    {
                        extend: 'pdf',
                        title: fileName,
                        text: '<i title="pdf" class="fa fa-file-pdf"></i>',
                        className: 'btn',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                        customize: function (doc) {
                            doc.content[1].table.widths = 
                            Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                        }
                    },
                    {
                        extend: 'print',
                        title: fileName,
                        text: '<i title="print" class="fa fa-print"></i>',
                        className: 'btn',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                    {
                        extend: 'csv',
                        title: fileName,
                        text: '<i title="csv" class="fa fa-file-csv"></i>',
                        className: 'btn',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        }
                    },
                ]
            });
        });
    </script>
}
