@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using System.Globalization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Extensions
@using Saffrat.Helpers
@using Saffrat.Resources

@inherits LocService<TModel>

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var uicultureList = LocOptions.Value.SupportedUICultures.OrderBy(x => x.NativeName).ToList();
    string returnUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString;

    var dir = "ltr";
    if (CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    var lang = CultureInfo.CurrentUICulture.Name;
}

<!DOCTYPE html>
<html lang="@lang" dir="@dir">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>@ViewData["Title"] - @GetSetting.AppName</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/fonts/fontawesome/css/all.min.css">
    @if (dir == "ltr")
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    }
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel='shortcut icon' type='image/x-icon' href='@GetSetting.Favicon' />
</head>

<body class="@GetSetting.ThemeColor">
    <div class="loader" style="background: url('@GetSetting.Preloader') 50% 50% no-repeat var(--colorBackground);"></div>
    <section class="section">
        @RenderBody()
    </section>

    <div class="modal language fade" id="LanguageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-light" data-toggle="tooltip" title="Back" data-dismiss="modal">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <h5 class="modal-title">@Localize("Change Language")</h5>
                    <span></span>
                </div>
                <div class="modal-body">
                    <ul>
                        @foreach (var item in uicultureList)
                        {
                            var img = "/images/flags/" + General.GetTwoLetterCountryCode(item) + ".svg";
                            <li>
                                <a href="/Home/ChangeLanguage?culture=@item.Name&name=@item.EnglishName&returnUrl=@returnUrl">
                                    <img src="@img" />
                                    @item.NativeName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
