@using Saffrat.Resources
@inherits LocService<TModel>

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = Localize("Reset Password");
}

<div class="container mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h4>@Localize("Reset Password")</h4>
                        <div class="card-header-action ms-auto">
                            <a href="javascript:void(0)" id="switchTheme" class="btn btn-light" data-toggle="tooltip">
                                <i class="fas fa-moon"></i>
                            </a>
                            <a href="#" id="switchLanguage" class="btn btn-light" data-toggle="tooltip" title="@Localize("Change Language")">
                                <i class="fas fa-globe"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-2">
                            <img src="@GetSetting.Logo" height="70" alt="Logo" />
                        </div>
                        <div class="text-muted">
                            @Localize("Password must be at least 8 characters and contain at 3 of 4 of the following: upper case, lower case, number and special character.")
                        </div>
                        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="needs-validation" novalidate="">
                            @if (ViewBag.Msg != null)
                            {
                                <div class="text-danger">@Localize("Please enter valid passwords.")</div>
                            }
                            <input type="hidden" name="token" value="@ViewBag.token" />
                            <input type="hidden" name="email" value="@ViewBag.email" />
                            <div class="form-group">
                                <label for="NewPassword">@Localize("New Password") <code>*</code></label>
                                <input id="NewPassword" name="NewPassword" type="password" class="form-control" required minlength="8">
                                <div class="invalid-feedback">
                                    @Localize("Please enter new password.")
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword">@Localize("Confirm Password") <code>*</code></label>
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" required minlength="8">
                                <div class="invalid-feedback">
                                    @Localize("Please enter confirm password.")
                                </div>
                            </div>
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <button type="submit" id="submit" class="btn btn-primary btn-lg w-100">
                                    @Localize("Reset Password")
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        @Html.Raw(GetSetting.Copyright)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>