@model Saffrat.Models.Customer

@using Saffrat.Resources
@inherits LocService<TModel>

@{
    ViewData["Title"] = @Localize("Add Customer");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-header-title">
                    <h4>
                        @Localize("Add Customer")
                    </h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home me-1"></i>@Localize("Home")</a></li>
                    <li class="breadcrumb-item"><a asp-controller="People" asp-action="Customers">@Localize("Customers")</a></li>
                    <li class="breadcrumb-item">@Localize("Add Customer")</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <form id="frm" class="needs-validation" novalidate="">
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label">@Localize("Customer Name") <code>*</code></label>
                        <input asp-for="CustomerName" class="form-control" required />
                        <div class="invalid-feedback">
                            @Localize("Please enter customer name.")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="control-label">@Localize("Email")</label>
                            <input asp-for="Email" type="email" class="form-control">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="control-label">@Localize("Phone Number") <code>*</code></label>
                            <input asp-for="Phone" type="tel" class="form-control" required />
                            <div class="invalid-feedback">
                                @Localize("Please enter phone number.")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">@Localize("Address") <code>*</code></label>
                        <textarea asp-for="Address" class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            @Localize("Please enter address.")
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary mr-1" type="submit" id="submit">@Localize("Save")</button>
                    <a asp-controller="People" asp-action="Customers" class="btn btn-secondary mr-1">@Localize("Back To List")</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $("#people-menu").addClass("active");
        $("#addCustomer-menu").addClass("active");

        $("#frm").submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            if (performValidation($("#frm"))) {
                $("#submit").addClass("disabled btn-progress");
                $.ajax({
                    url: '/People/AddCustomer',
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == "success") {
                            successMessage('@Localize("Customer created successfully.")');
                            $("#frm")[0].reset();
                        }
                        else {
                            errorMessage(data.message);
                        }
                    },
                    error: function (data) {
                        if(data.status == 401){
                            window.location.href = '/Account/Login';
                        }
                        else if(data.status == 403){
                            errorMessage('@Localize("Access denied.")');
                        }
                        else{
                            console.log(JSON.stringify(data));
                        }
                    },
                    complete: function () {
                        $("#submit").removeClass("disabled btn-progress");
                        $("#frm").removeClass("was-validated");
                    }
                });
            }
        });
    </script>
}