@model IEnumerable<Saffrat.Models.AuditLog>

@using Saffrat.Resources
@inherits LocService<TModel>

@{
    ViewData["Title"] = @Localize("Audit Log");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-header-title">
                    <h4>
                        @Localize("Audit Log")
                    </h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home me-1"></i>@Localize("Home")</a></li>
                    <li class="breadcrumb-item">@Localize("Audit Log")</li>
                </ul>
            </div>
            <div class="col">
                <div class="float-end">
                    <a href="javascript:void(0);" onclick="Delete();" class="btn btn-danger"><i class="fa fa-trash"></i> @Localize("Delete All")</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="AuditLog" asp-controller="Utilities" method="get" class="needs-validation" novalidate="">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="control-label">@Localize("From") <code>*</code></label>
                            <input type="date" name="from" value="@ViewBag.start" onclick="this.showPicker()" class="form-control" required />
                            <div class="invalid-feedback">
                                @Localize("Please select date.")
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="control-label">@Localize("To") <code>*</code></label>
                            <input type="date" name="to" value="@ViewBag.end" onclick="this.showPicker()" class="form-control" required />
                            <div class="invalid-feedback">
                                @Localize("Please select date.")
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="w-100 d-none d-md-inline-block">&nbsp;</label>
                            <button class="btn btn-primary btn-icon" type="submit"><i class="fas fa-paper-plane"></i> @Localize("Filter")</button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>@Localize("#")</th>
                                <th>@Localize("Ip Address")</th>
                                <th>@Localize("User Name")</th>
                                <th>@Localize("Service")</th>
                                <th>@Localize("Action")</th>
                                <th>@Localize("Status")</th>
                                <th>@Localize("Description")</th>
                                <th>@Localize("Date")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var id = "row" + item.Id;
                                <tr id="@id">
                                    <td>@item.Id</td>
                                    <td>@item.Ip</td>
                                    <td>&#64;@item.Username</td>
                                    <td>@item.Service</td>
                                    <td>@item.Action</td>
                                    <td>
                                        @if (item.Status == "success")
                                        {
                                            <div class="badge badge-primary">@item.Status</div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-danger">@item.Status</div>
                                        }
                                    </td>
                                    <td>@item.Description</td>
                                    <td>@item.CreatedAt</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#utilities-menu").addClass("active");
        $("#auditlog-menu").addClass("active");

        var dt = $('#datatable').DataTable({
            'language': {
                "processing": '@Localize("Processing...")',
                "loadingRecords": "@Localize("Loading...")",
                'lengthMenu': '@Localize("Show") _MENU_ @Localize("Entries")',
                "zeroRecords": "@Localize("No Result Found")",
                "info": '<small>@Localize("Showing") _START_ - _END_ (_TOTAL_)</small>',
                "infoEmpty": '',
                "infoFiltered": '',
                "search": '@Localize("Search")',
                'paginate': {
                    'previous': '<i class="fa fa-chevron-left"></i>',
                    'next': '<i class="fa fa-chevron-right"></i>'
                }
            },
            'columnDefs': [
                {
                    "orderable": false
                }
            ],
            'lengthMenu': [[50, 100, 150, -1], [50, 100, 150, "All"]],
        });

        function Delete(id) {
            $.alert({
                title: '@Localize("Are you sure want to delete?")',
                content: '@Localize("Once deleted, you will not be able to recover this record.")',
                rtl: isRTL(),
                theme: 'modern',
                buttons: {
                    confirm: {
                        text: '<i class="fa fa-trash"></i> @Localize("Delete")',
                        btnClass: 'btn btn-danger',
                        action: function (btn) {
                            var self = this;
                            self.showLoading(true);
                            $.ajax({
                                url: "/Utilities/DeleteAuditLog",
                                type: 'DELETE',
                                data: {
                                    Id: id
                                },
                                error: function (data) {
                                    if (data.status == 401) {
                                        window.location.href = '/Account/Login';
                                    }
                                    else if (data.status == 403) {
                                        errorMessage('@Localize("Access denied.")');
                                    }
                                    else {
                                        console.log(JSON.stringify(data));
                                    }
                                },
                                success: function (data) {
                                    if (data.status == "success") {
                                        setCookie("successMessage", '@Localize("Audit log deleted successfully")');
                                        window.location.reload(true);
                                    }
                                    else {
                                        errorMessage(data.message);
                                    }
                                },
                                complete: function () {
                                    self.close();
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        text: '@Localize("Cancel")',
                        action: function () {
                        }
                    }
                }
            });
        }
    </script>
}
