@model IEnumerable<Saffrat.Models.Expense>

@using Saffrat.Resources
@inherits LocService<TModel>

@{
    ViewData["Title"] = @Localize("Expenses");
    Layout = "~/Views/Shared/_Layout.cshtml";

    var start = ViewBag.start;
    var end = ViewBag.end;
}

@section styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .select2-container .select2-selection--single { height: 42px; padding: 6px 12px; border: 1px solid #e4e6fc; }
        .select2-container--default .select2-selection--single .select2-selection__arrow { height: 42px; }
        .select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 28px; }
    </style>
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-header-title">
                    <h4>
                        @Localize("Expenses")
                    </h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i
                                class="fa fa-home me-1"></i>@Localize("Home")</a></li>
                    <li class="breadcrumb-item">@Localize("Expenses")</li>
                </ul>
            </div>
            <div class="col">
                <div class="float-end">
                    <button onclick="OpenMainModal(0);" class="btn btn-primary">@Localize("Add New")</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Accounting" asp-action="Expenses" method="get" class="needs-validation"
                    novalidate="">
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <label class="control-label">@Localize("Account")</label>
                            <select class="form-control selectpicker" data-live-search="true" name="account"
                                id="account">
                                <option value="">@Localize("All")</option>
                                @foreach (var item in ViewBag.accounts)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label">@Localize("From") <code>*</code></label>
                            <input type="date" name="start" value="@start" onclick="this.showPicker()"
                                class="form-control" required />
                            <div class="invalid-feedback">
                                @Localize("Please select date.")
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="control-label">@Localize("To") <code>*</code></label>
                            <input type="date" name="end" value="@end" onclick="this.showPicker()" class="form-control"
                                required />
                            <div class="invalid-feedback">
                                @Localize("Please select date.")
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="w-100 d-none d-md-inline-block">&nbsp;</label>
                            <button class="btn btn-primary btn-icon" type="submit"><i class="fas fa-paper-plane"></i>
                                @Localize("Filter")</button>
                        </div>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>@Localize("#")</th>
                                <th>@Localize("Account")</th>
                                <th>@Localize("Date")</th>
                                <th>@Localize("Category")</th>
                                <th>@Localize("Item")</th>
                                <th>@Localize("Amount")</th>
                                <th>@Localize("Note")</th>
                                <th>@Localize("Updated At")</th>
                                <th>@Localize("Updated By")</th>
                                <th>@Localize("Actions")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var id = "row" + item.Id;
                                <tr id="@id">
                                    <td>@item.Id</td>
                                    <td>@item.Account.AccountName</td>
                                    <td>@item.ExpenseDate.ToShortDateString()</td>
                                    <td>@item.Category</td>
                                    <td>@item.Item</td>
                                    <td>@GetCurrency(item.Amount)</td>
                                    <td>@item.Note</td>
                                    <td>@item.UpdatedAt</td>
                                    <td>&#64;@item.UpdatedBy</td>
                                    <td>
                                        <button class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="fas fa-bars me-1"></i></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn" onclick="OpenMainModal(@item.Id);"><i
                                                    class="fas fa-edit"></i> <span class="ml-2">@Localize("Edit")</span></a>
                                            <a class="dropdown-item btn" onclick="Delete(@item.Id);"><i
                                                    class="fas fa-trash"></i> <span
                                                    class="ml-2">@Localize("Delete")</span></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section models{
    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mainModalTitle"></h5>
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <form id="frm" class="needs-validation" novalidate>
                    <div class="modal-body">
                        <input type="hidden" name="Id" value="" />
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">@Localize("Account") <code>*</code></label>
                                <select name="AccountId" class="form-control selectpicker" data-live-search="true" required>
                                    <option value="">@Localize("Choose Option")</option>
                                    @foreach (var item in ViewBag.accounts)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                                <div class="invalid-feedback">
                                    @Localize("Please select account.")
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">@Localize("Expense Date") <code>*</code></label>
                                <input name="ExpenseDate" type="date" onclick="this.showPicker()" class="form-control"
                                    required />
                                <div class="invalid-feedback">
                                    @Localize("Please select date.")
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="control-label">@Localize("Category")</label>
                                <select name="Category" id="categorySelect" class="form-control" style="width: 100%;"></select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="control-label">@Localize("Item")</label>
                                <select name="Item" id="itemSelect" class="form-control" style="width: 100%;"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Localize("Amount") <code>*</code></label>
                            <div class="input-group">
                                <div class="input-group-text">@GetSetting.CurrencySymbol</div>
                                <input name="Amount" type="text" inputmode="numeric" class="form-control cleave-number"
                                    required />
                            </div>
                            <div class="invalid-feedback">
                                @Localize("Please enter amount.")
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@Localize("Note")</label>
                            <textarea name="Note" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer bg-whitesmoke br">
                        <button type="submit" class="btn btn-primary" id="submit">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize("Cancel")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

        $('#account').val('@ViewBag.account');
        $("#accounting-menu").addClass("active");
        $("#expenseList-menu").addClass("active");

        $('#categorySelect').select2({
            tags: true,
            dropdownParent: $('#mainModal'),
            ajax: {
                url: '/Accounting/SearchExpenseCategories',
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                }
            }
        });

        $('#itemSelect').select2({
            tags: true,
            dropdownParent: $('#mainModal'),
            ajax: {
                url: '/Accounting/SearchExpenseItems',
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                }
            }
        });

        var dt = $('#datatable').DataTable({
            'language': {
                "processing": '@Localize("Processing...")',
                "loadingRecords": "@Localize("Loading...")",
                'lengthMenu': '@Localize("Show") _MENU_ @Localize("Entries")',
                "zeroRecords": "@Localize("No Result Found")",
                "info": '<small>@Localize("Showing") _START_ - _END_ (_TOTAL_)</small>',
                "infoEmpty": '',
                "infoFiltered": '',
                "search": '@Localize("Search")',
                'paginate': {
                    'previous': '<i class="fa fa-chevron-left"></i>',
                    'next': '<i class="fa fa-chevron-right"></i>'
                }
            },
            order: [['0', 'desc']],
            'columnDefs': [
                {
                    "orderable": false,
                    'targets': [7]
                }
            ],
            'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });

        function Delete(id) {
            $.alert({
                title: '@Localize("Are you sure want to delete?")',
                content: '@Localize("Once deleted, you will not be able to recover this record and all related data must be deleted.")',
                rtl: isRTL(),
                theme: 'modern',
                buttons: {
                    confirm: {
                        text: '<i class="fa fa-trash"></i> @Localize("Delete")',
                        btnClass: 'btn btn-danger',
                        action: function (btn) {
                            var self = this;
                            self.showLoading(true);
                            $.ajax({
                                url: "/Accounting/DeleteExpense",
                                type: 'DELETE',
                                data: {
                                    Id: id
                                },
                                error: function (data) {
                                    if (data.status == 401) {
                                        window.location.href = '/Account/Login';
                                    }
                                    else if (data.status == 403) {
                                        errorMessage('@Localize("Access denied.")');
                                    }
                                    else {
                                        console.log(JSON.stringify(data));
                                    }
                                },
                                success: function (data) {
                                    if (data.status == "success") {
                                        successMessage('@Localize("Expense deleted successfully.")');
                                        dt.row("#row" + id).remove().draw();
                                    }
                                    else {
                                        errorMessage(data.message);
                                    }
                                },
                                complete: function () {
                                    self.close();
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        text: '@Localize("Cancel")',
                        action: function () {
                        }
                    }
                }
            });
        }

        function OpenMainModal(id) {
            $("#frm").removeClass("was-validated");
            if (id > 0) {
                jQuery.ajax({
                    url: "/Accounting/ExpenseDetail",
                    method: "GET",
                    data: {
                        Id: id
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status == "success") {
                            var result = data.data;
                            $("#mainModalTitle").text('@Localize("Update Expense")');
                            $("#submit").text('@Localize("Update")');
                            $("#frm input[name='Id']").val(result.id);
                            $("#frm select[name='AccountId']").selectpicker('val', String(result.accountId));
                            $("#frm input[name='ExpenseDate']").val(getDate(result.expenseDate));
                            $("#frm input[name='Amount']").val(getNumber(result.amount));
                            $("#frm input[name='Amount']").val(getNumber(result.amount));

                            if (result.category) {
                                if ($('#categorySelect').find("option[value='" + result.category + "']").length) {
                                    $('#categorySelect').val(result.category).trigger('change');
                                } else { 
                                    var newCatOption = new Option(result.category, result.category, true, true);
                                    $('#categorySelect').append(newCatOption).trigger('change');
                                }
                            } else {
                                $('#categorySelect').val(null).trigger('change');
                            }

                            if (result.item) {
                                if ($('#itemSelect').find("option[value='" + result.item + "']").length) {
                                    $('#itemSelect').val(result.item).trigger('change');
                                } else { 
                                    var newItemOption = new Option(result.item, result.item, true, true);
                                    $('#itemSelect').append(newItemOption).trigger('change');
                                }
                            } else {
                                $('#itemSelect').val(null).trigger('change');
                            }

                            $("#frm textarea[name='Note']").val(result.note);
                            $("#mainModal").modal('show');
                        }
                        else {
                            errorMessage(data.message);
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.href = '/Account/Login';
                        }
                        else if (data.status == 403) {
                            errorMessage('@Localize("Access denied.")');
                        }
                        else {
                            console.log(JSON.stringify(data));
                        }
                    }
                });
            } else {
                $("#mainModalTitle").text('@Localize("Add Expense")');
                $("#submit").text('@Localize("Save")');
                $("#frm input[name='Id']").val('');
                $("#frm select[name='AccountId']").selectpicker('val', '');
                $('#categorySelect').val(null).trigger('change');
                $('#itemSelect').val(null).trigger('change');
                $("#frm")[0].reset();
                $("#mainModal").modal('show');
            }
        }

        $("#frm").submit(function (e) {
            e.preventDefault();
            if (performValidation($("#frm"))) {
                var formData = new FormData(this);
                $.ajax({
                    url: '/Accounting/SaveExpense',
                    type: 'POST',
                    data: formData,
                    dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (data.status == "success") {
                            setCookie("successMessage", '@Localize("Expense saved successfully.")');
                            window.location.reload(true);
                        }
                        else {
                            errorMessage(data.message);
                        }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.href = '/Account/Login';
                        }
                        else if (data.status == 403) {
                            errorMessage('@Localize("Access denied.")');
                        }
                        else {
                            console.log(JSON.stringify(data));
                        }
                    },
                    complete: function () {
                        $("#submit").removeClass("disabled btn-progress");
                    }
                });
            }
        });

    </script>
}