@model IEnumerable<Saffrat.Models.User>

@using Saffrat.Resources
@inherits LocService<TModel>

@{
    ViewData["Title"] = @Localize("Users");
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-header-title">
                    <h4>
                        @Localize("Users")
                    </h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home me-1"></i>@Localize("Home")</a></li>
                    <li class="breadcrumb-item">@Localize("Users")</li>
                </ul>
            </div>
            <div class="col">
                <div class="float-end">
                    <a asp-controller="Users" asp-action="AddUser" class="btn btn-primary">
                        @Localize("Add New")
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>@Localize("#")</th>
                                <th>@Localize("Full Name")</th>
                                <th>@Localize("Username")</th>
                                <th>@Localize("Email")</th>
                                <th>@Localize("Role")</th>
                                <th>@Localize("Status")</th>
                                <th>@Localize("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var id = "row" + item.Id;
                                <tr id="@id">
                                    <td>@item.Id</td>
                                    <td>@item.FullName</td>
                                    <td><a asp-controller="Users" asp-action="ViewUser" asp-route-Id="@item.Id">&#64;@item.UserName</a></td>
                                    <td>@item.Email</td>
                                    <td>@item.Role</td>
                                    <td>
                                        @if (item.Status == 1)
                                        {
                                            <div class="badge badge-primary badge-shadow">@Localize("Active")</div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-secondary badge-shadow">@Localize("InActive")</div>
                                        }
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars me-1"></i></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn" asp-controller="Users" asp-action="ViewUser" asp-route-Id="@item.Id"><i class="fas fa-eye"></i> <span class="ml-2">@Localize("View")</span></a>
                                            <a class="dropdown-item btn" asp-controller="Users" asp-action="EditUser" asp-route-Id="@item.Id"><i class="fas fa-edit"></i> <span class="ml-2">@Localize("Edit")</span></a>
                                            @if (item.UserName != ViewBag.loggedInUserName)
                                            {
                                                <a href="javascript:void(0)" class="dropdown-item btn" onclick="Delete(@item.Id);"><i class="fas fa-trash"></i> <span class="ml-2">@Localize("Delete")</span></a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $("#users-menu").addClass("active");
        $("#userList-menu").addClass("active");

        var dt = $('#datatable').DataTable({
            'language': {
                "processing": '@Localize("Processing...")',
                "loadingRecords": "@Localize("Loading...")",
                'lengthMenu': '@Localize("Show") _MENU_ @Localize("Entries")',
                "zeroRecords": "@Localize("No Result Found")",
                "info": '<small>@Localize("Showing") _START_ - _END_ (_TOTAL_)</small>',
                "infoEmpty": '',
                "infoFiltered": '',
                "search": '@Localize("Search")',
                'paginate': {
                    'previous': '<i class="fa fa-chevron-left"></i>',
                    'next': '<i class="fa fa-chevron-right"></i>'
                }
            },
            'columnDefs': [
                {
                    "orderable": false,
                    'targets': [6]
                }
            ],
            'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });


        function Delete(id) {
            $.alert({
                title: '@Localize("Are you sure want to delete?")',
                content: '@Localize("Once deleted, you will not be able to recover this record.")',
                rtl: isRTL(),
                theme: 'modern',
                buttons: {
                    confirm: {
                        text: '<i class="fa fa-trash"></i> @Localize("Delete")',
                        btnClass: 'btn btn-danger',
                        action: function (btn) {
                            var self = this;
                            self.showLoading(true);
                            $.ajax({
                                url: "/Users/DeleteUser",
                                type: 'DELETE',
                                data: {
                                    Id: id
                                },
                                error: function (data) {
                                    if (data.status == 401) {
                                        window.location.href = '/Account/Login';
                                    }
                                    else if (data.status == 403) {
                                        errorMessage('@Localize("Access denied.")');
                                    }
                                    else {
                                        console.log(JSON.stringify(data));
                                    }
                                },
                                success: function (data) {
                                    if (data.status == "success") {
                                        successMessage('@Localize("User deleted successfully.")');
                                        dt.row("#row" + id).remove().draw();
                                    }
                                    else {
                                        errorMessage(data.message);
                                    }
                                },
                                complete: function () {
                                    self.close();
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        text: '@Localize("Cancel")',
                        action: function () {
                        }
                    }
                }
            });
        }
    </script>
}
