@model IEnumerable<Saffrat.Models.Employee>

@using Saffrat.Resources
@inherits LocService<TModel>

@{
    ViewData["Title"] = @Localize("Employees");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-header-title">
                    <h4>
                        @Localize("Employees")
                    </h4>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home me-1"></i>@Localize("Home")</a></li>
                    <li class="breadcrumb-item">@Localize("Employees")</li>
                </ul>
            </div>
            <div class="col">
                <div class="float-end">
                    <a asp-asp-controller="HRM" asp-action="AddEmployee" class="btn btn-primary">@Localize("Add New")</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="datatable">
                        <thead>
                            <tr>
                                <th>@Localize("#")</th>
                                <th>@Localize("Image")</th>
                                <th>@Localize("Employee")</th>
                                <th>@Localize("Shift")</th>
                                <th>@Localize("Salary")</th>
                                <th>@Localize("Phone")</th>
                                <th>@Localize("Email")</th>
                                <th>@Localize("Address")</th>
                                <th>@Localize("Status")</th>
                                <th>@Localize("Updated At")</th>
                                <th>@Localize("Updated By")</th>
                                <th>@Localize("Action")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                decimal netsalary = item.Salary;
                                foreach (var item1 in item.EmployeeDeductions)
                                {
                                    if (item1.IsPercentage)
                                    {
                                        netsalary -= (item1.Amount * item.Salary) / 100;
                                    }
                                    else
                                    {
                                        netsalary -= item1.Amount;
                                    }
                                }
                                foreach (var item1 in item.EmployeeEarnings)
                                {
                                    if (item1.IsPercentage)
                                    {
                                        netsalary += (item1.Amount * item.Salary) / 100;
                                    }
                                    else
                                    {
                                        netsalary += item1.Amount;
                                    }
                                }
                                var id = "row" + item.Id;
                                <tr id="@id">
                                    <td>@item.Id</td>
                                    <td>
                                        <img src="/Media/EmployeeImage?name=@item.Image" width="50" height="40" />
                                    </td>
                                    <td>
                                        @String.Format("{0} (EMP-{1})", item.Name, item.Id) <br />
                                        @String.Format("{0} - {1}", item.Department.Title, item.Designation.Title)
                                    </td>
                                    <td>
                                        @item.Shift.Title
                                    </td>
                                    <td>
                                        @String.Format("{0} - {1}", item.PayslipType, GetCurrency(item.Salary)) <br>
                                        @String.Format("{0} - {1}", Localize("Net Salary"), GetCurrency(Math.Round(netsalary,2)))
                                    </td>
                                    <td>
                                        <i class="fa fa-phone"></i>@item.Phone <br>
                                        <i class="fa fa-phone"></i>@item.EmergencyContact
                                    </td>
                                    <td>
                                        <i class="fa fa-envelope"></i>@item.Email
                                    </td>
                                    <td>
                                        <i class="fa fa-location-dot"></i>@item.PresentAddress <br>
                                        <i class="fa fa-location-dot"></i>@item.PermanentAddress
                                    </td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <div class="badge badge-primary badge-shadow">@Localize("Active")</div>
                                        }
                                        else
                                        {
                                            <div class="badge badge-secondary badge-shadow">@Localize("InActive")</div>
                                        }
                                    </td>
                                    <td>@item.UpdatedAt</td>
                                    <td>&#64;@item.UpdatedBy</td>
                                    <td>
                                        <button class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars me-1"></i></button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn" asp-controller="HRM" asp-action="EditEmployee" asp-route-id="@item.Id"><i class="fas fa-edit"></i> <span class="ml-2">@Localize("View/Edit")</span></a>
                                            <a class="dropdown-item btn" onclick="Delete(@item.Id);"><i class="fas fa-trash"></i> <span class="ml-2">@Localize("Delete")</span></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section models{
    <div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mainModalTitle"></h5>
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <i class="fa fa-x" aria-hidden="true"></i>
                    </button>
                </div>
                <form id="frm" class="needs-validation" novalidate="">
                    <div class="modal-body">
                        <input type="hidden" name="Id" id="Id" value="" />
                        <div class="form-group">
                            <label class="control-label">@Localize("Title") <code>*</code></label>
                            <input name="Title" class="form-control" required />
                            <div class="invalid-feedback">
                                @Localize("Please enter title.")
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-whitesmoke br">
                        <button type="submit" class="btn btn-primary" id="submit">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localize("Cancel")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section scripts{
    <script>

        $("#hrm-menu").addClass("active");
        $("#employeeList-menu").addClass("active");

        var dt = $('#datatable').DataTable({
            'language': {
                "processing": '@Localize("Processing...")',
                "loadingRecords": "@Localize("Loading...")",
                'lengthMenu': '@Localize("Show") _MENU_ @Localize("Entries")',
                "zeroRecords": "@Localize("No Result Found")",
                "info": '<small>@Localize("Showing") _START_ - _END_ (_TOTAL_)</small>',
                "infoEmpty": '',
                "infoFiltered": '',
                "search": '@Localize("Search")',
                'paginate': {
                    'previous': '<i class="fa fa-chevron-left"></i>',
                    'next': '<i class="fa fa-chevron-right"></i>'
                }
            },
            'columnDefs': [
                {
                    "orderable": false,
                    'targets': [10]
                }
            ],
            'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, "All"]],
        });

        function Delete(id) {
            $.alert({
                title: '@Localize("Are you sure want to delete?")',
                content: '@Localize("Once deleted, you will not be able to recover this record and all related data must be deleted.")',
                rtl: isRTL(),
                theme: 'modern',
                buttons: {
                    confirm: {
                        text: '<i class="fa fa-trash"></i> @Localize("Delete")',
                        btnClass: 'btn btn-danger',
                        action: function (btn) {
                            var self = this;
                            self.showLoading(true);
                            $.ajax({
                                url: "/HRM/DeleteEmployee",
                                type: 'DELETE',
                                data: {
                                    Id: id
                                },
                                error: function (data) {
                                    if (data.status == 401) {
                                        window.location.href = '/Account/Login';
                                    }
                                    else if (data.status == 403) {
                                        errorMessage('@Localize("Access denied.")');
                                    }
                                    else {
                                        console.log(JSON.stringify(data));
                                    }
                                },
                                success: function (data) {
                                    if (data.status == "success") {
                                        successMessage('@Localize("Employee deleted successfully.")');
                                        dt.row("#row" + id).remove().draw();
                                    }
                                    else {
                                        errorMessage(data.message);
                                    }
                                },
                                complete: function () {
                                    self.close();
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        text: '@Localize("Cancel")',
                        action: function () {
                        }
                    }
                }
            });
        }
    </script>
}
